.search-student {
    display: flex;
    margin-bottom: 20px;
}

.search-student .search-main {
    margin-left: 30px;
}

.search-student .search-btn {
    width: 60px;
    vertical-align: text-bottom;
    margin-left: 20px;
    font-weight: bold;
    background-color: orange;
}
